In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.tokenize import word_tokenize 

plt.rcParams['figure.figsize'] = (13, 7)

In [4]:


#take a look on the dataset
df = pd.read_csv("random_data.csv")
df.head(5)

,Name,Skill,Education,Experience
0,Anthony Miller,Web Development,Bachelor's in Computer Science,5 years
1,Jeffrey Jordan,Finance,Bachelor's in Business Administration,19 years
2,Brian Jennings,Digital Marketing,Bachelor's in Marketing,12 years
3,Michael Herrera,Digital Marketing,Bachelor's in Marketing,13 years
4,Antonio Garcia,Finance,Bachelor's in Business Administration,19 years

In [5]:


#showing info for each featrue
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12001 entries, 0 to 12000
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        12001 non-null  object
 1   Skill       12001 non-null  object
 2   Education   12001 non-null  object
 3   Experience  12001 non-null  object
dtypes: object(4)
memory usage: 375.2+ KB

In [6]:


df.head(1)

             Name            Skill                       Education Experience
0  Anthony Miller  Web Development  Bachelor's in Computer Science    5 years

In [7]:


#now checking the NaN values
df.isnull().sum()

Name          0
Skill         0
Education     0
Experience    0
dtype: int64

In [12]:
df['Skill'] = df['Skill'].fillna("Unknown")
df['Education'] = df['Education'].fillna("Unknown")
df['Experience'] = df['Experience'].fillna("Unknown")
df = df.reset_index( drop=True)

In [13]:


df.head(5)

,Name,Skill,Education,Experience
0,Anthony Miller,Web Development,Bachelor's in Computer Science,5 years
1,Jeffrey Jordan,Finance,Bachelor's in Business Administration,19 years
2,Brian Jennings,Digital Marketing,Bachelor's in Marketing,12 years
3,Michael Herrera,Digital Marketing,Bachelor's in Marketing,13 years
4,Antonio Garcia,Finance,Bachelor's in Business Administration,19 years

In [14]:
overall_infos = []
for i in range(0, df.shape[0]):
    overall_infos.append(df['Name'][i]+' '+df['Skill'][i]+' '+df['Education'][i]+' '+df['Experience'][i])
df['overall_infos'] = overall_infos

In [15]:
df_new = df[['overall_infos']]
df_new.head(2)

                                       overall_infos
0  Anthony Miller Web Development Bachelor's in C...
1  Jeffrey Jordan Finance Bachelor's in Business ...

In [16]:
#Stopwords help us to get rid of unwanted words like: a, an, are, is, ...
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [17]:
def text_preprocessing(column):
    #make all words with lower letters
    column = column.str.lower()
    #getting rid of any punctution
    column = column.str.replace('http\S+|www.\S+|@|%|:|,|', '', case=False)
    #spliting each sentence to words to apply previous funtions on them 
    word_tokens = column.str.split()
    keywords = word_tokens.apply(lambda x: [item for item in x if item not in stop])
    #assemble words of each sentence again and assign them in new column
    for i in range(len(keywords)):
        keywords[i] = " ".join(keywords[i])
        column = keywords

    return column

In [18]:


df_new.loc[:, 'cleaned_infos'] = text_preprocessing(df_new['overall_infos'])

/tmp/ipykernel_4312/3345913491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, 'cleaned_infos'] = text_preprocessing(df_new['overall_infos'])

In [19]:


df['overall_infos']

0        Anthony Miller Web Development Bachelor's in C...
1        Jeffrey Jordan Finance Bachelor's in Business ...
2        Brian Jennings Digital Marketing Bachelor's in...
3        Michael Herrera Digital Marketing Bachelor's i...
4        Antonio Garcia Finance Bachelor's in Business ...
                               ...
11996    April Harrison Teaching Bachelor's in Educatio...
11997    David Tran DDS Digital Marketing Bachelor's in...
11998    Bradley Lamb Web Development Bachelor's in Com...
11999    Kaitlin Gomez MD Graphic Design Bachelor's in ...
12000    Christopher Byrd DDS Web Development Bachelor'...
Name: overall_infos, Length: 12001, dtype: object

In [20]:
df_new['cleaned_infos']

0        anthony miller web development bachelor's comp...
1        jeffrey jordan finance bachelor's business adm...
2        brian jennings digital marketing bachelor's ma...
3        michael herrera digital marketing bachelor's m...
4        antonio garcia finance bachelor's business adm...
                               ...
11996    april harrison teaching bachelor's education 6...
11997    david tran dds digital marketing bachelor's ma...
11998    bradley lamb web development bachelor's comput...
11999    kaitlin gomez md graphic design bachelor's des...
12000    christopher byrd dds web development bachelor'...
Name: cleaned_infos, Length: 12001, dtype: object

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

CV = CountVectorizer()
converted_metrix = CV.fit_transform(df_new['cleaned_infos'])

In [22]:


cosine_similarity = cosine_similarity(converted_metrix)

In [23]:
cosine_similarity

array([[1.        , 0.25      , 0.2236068 , ..., 0.70710678, 0.2236068 ,
        0.70710678],
       [0.25      , 1.        , 0.2236068 , ..., 0.23570226, 0.2236068 ,
        0.23570226],
       [0.2236068 , 0.2236068 , 1.        , ..., 0.21081851, 0.2       ,
        0.21081851],
       ...,
       [0.70710678, 0.23570226, 0.21081851, ..., 1.        , 0.21081851,
        0.66666667],
       [0.2236068 , 0.2236068 , 0.2       , ..., 0.21081851, 1.        ,
        0.21081851],
       [0.70710678, 0.23570226, 0.21081851, ..., 0.66666667, 0.21081851,
        1.        ]])

In [24]:
#finding the correct name of a movie
df[df['Skill'].str.contains('Finance')]

,Name,Skill,Education,Experience,overall_infos
1,Jeffrey Jordan,Finance,Bachelor's in Business Administration,19 years,Jeffrey Jordan Finance Bachelor's in Business ...
4,Antonio Garcia,Finance,Bachelor's in Business Administration,19 years,Antonio Garcia Finance Bachelor's in Business ...
23,Kathleen Johnson,Finance,Bachelor's in Business Administration,12 years,Kathleen Johnson Finance Bachelor's in Busines...
36,Jennifer Thomas,Finance,Bachelor's in Business Administration,2 years,Jennifer Thomas Finance Bachelor's in Business...
37,Jorge Lawrence PhD,Finance,Bachelor's in Business Administration,12 years,Jorge Lawrence PhD Finance Bachelor's in Busin...
...,...,...,...,...,...
11962,Paul Walker,Finance,Bachelor's in Business Administration,2 years,Paul Walker Finance Bachelor's in Business Adm...
11963,Eric Stewart,Finance,Bachelor's in Business Administration,17 years,Eric Stewart Finance Bachelor's in Business Ad...
11966,Vicki Wright,Finance,Bachelor's in Business Administration,10 years,Vicki Wright Finance Bachelor's in Business Ad...
11985,Rachel Nielsen,Finance,Bachelor's in Business Administration,1 years,Rachel Nielsen Finance Bachelor's in Business ...
11986,Allison Vang,Finance,Bachelor's in Business Administration,6 years,Allison Vang Finance Bachelor's in Business Ad...

In [25]:
!pip install torch

import torch
from datasets import load_dataset
from transformers import DistilBertTokenizer, DistilBertModel
from sklearn.metrics.pairwise import cosine_similarity

Requirement already satisfied: torch in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (2.1.2)
Requirement already satisfied: filelock in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (3.13.1)
Requirement already satisfied: typing-extensions in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (4.9.0)
Requirement already satisfied: sympy in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (1.12)
Requirement already satisfied: networkx in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (3.1)
Requirement already satisfied: jinja2 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (3.1.2)
Requirement already satisfied: fsspec in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (2023.10.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.1.105 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (12.1.105)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.1.105 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (12.1.105)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.1.105 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (12.1.105)
Requirement already satisfied: nvidia-cudnn-cu12==8.9.2.26 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (8.9.2.26)
Requirement already satisfied: nvidia-cublas-cu12==12.1.3.1 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (12.1.3.1)
Requirement already satisfied: nvidia-cufft-cu12==11.0.2.54 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (11.0.2.54)
Requirement already satisfied: nvidia-curand-cu12==10.3.2.106 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (10.3.2.106)
Requirement already satisfied: nvidia-cusolver-cu12==11.4.5.107 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (11.4.5.107)
Requirement already satisfied: nvidia-cusparse-cu12==12.1.0.106 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (12.1.0.106)
Requirement already satisfied: nvidia-nccl-cu12==2.18.1 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (2.18.1)
Requirement already satisfied: nvidia-nvtx-cu12==12.1.105 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (12.1.105)
Requirement already satisfied: triton==2.1.0 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from torch) (2.1.0)
Requirement already satisfied: nvidia-nvjitlink-cu12 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from nvidia-cusolver-cu12==11.4.5.107->torch) (12.3.101)
Requirement already satisfied: MarkupSafe>=2.0 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from jinja2->torch) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /home/nalugya-vanessa/anaconda3/lib/python3.11/site-packages (from sympy->torch) (1.3.0)

In [35]:
import re

def clean_text(text):
    # Remove special characters and non-alphanumeric characters
    cleaned_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    # Convert to lowercase
    cleaned_text = cleaned_text.lower()
    return cleaned_text

# Example job descriptions
job_descriptions = [
    '''
Duties and Responsibilities

Keep custody of all Board and Senior Management papers, documents and minutes.
Maintain a diary of meetings for Board, Committees and Senior Management.
Take minutes of Board meetings.
Prepare attendance registers of Board meetings and allowance requisition and reimbursement for payments to Board.
Prepare schedules of information that the Board has requested from management.
Prepare schedules and information management needs to submit to Board for consideration.
Manage all correspondence and records to and from the Executive Director.
Review documentation to Executive Director and route these to their respective department heads for action.
Prepare schedules of action points that require the attention of the Executive Director.
Read reports/proposals to Executive Director that require her input, and provide a summary of key issues that require the attention of the Executive Director.
Make travel arrangements for the Executive Director and Board members;
Maintain a diary of national and international events that require the participation of the Executive Director and Board Members.
Assist in the preparation, monitoring and managing costs related to Board budget and the Executive Director’s office.
Make travel arrangements for the strategic partners visiting the organization’s field operations through the Executive Director’s office.
Qualifications, Skills, and Experience

Must hold at least a Bachelor’s degree in any relevant discipline from a recognized university of recognized standing.
A post-graduate qualification in a management-related discipline will be an added advantage.
5 years’ work experience in a supervisory or administrative or Executive Assistant role in a private or public sector organization.
Good organizational, attention to detail, and coordination skills, ability to work calmly under the stress of conflicting deadlines and assignments.
Ability to work under tight deadlines with minimal supervision.
Effective oral & written communication and presentation skills.
Computer Skills (Excel, PowerPoint and Word Processing).
Desirable interpersonal and communication skills.
Analytical – ability to comprehend management and Board papers and other correspondences.
Organizational skills– prioritizing, time management and ability to plan each day to meet deadlines.
Strong knowledge of the Labour laws of Uganda.
High levels of integrity, professionalism and discretion.
High levels of self-initiative and problem-solving skills.
Courtesy, tact and diplomacy.





'''
]

# Apply the cleaning function to each job description
cleaned_descriptions = [clean_text(desc) for desc in job_descriptions]

# Display the cleaned job descriptions
for original, cleaned in zip(job_descriptions, cleaned_descriptions):
    print(f"Original:\n{original}\nCleaned:\n{cleaned}\n")

Original:

Duties and Responsibilities

Keep custody of all Board and Senior Management papers, documents and minutes.
Maintain a diary of meetings for Board, Committees and Senior Management.
Take minutes of Board meetings.
Prepare attendance registers of Board meetings and allowance requisition and reimbursement for payments to Board.
Prepare schedules of information that the Board has requested from management.
Prepare schedules and information management needs to submit to Board for consideration.
Manage all correspondence and records to and from the Executive Director.
Review documentation to Executive Director and route these to their respective department heads for action.
Prepare schedules of action points that require the attention of the Executive Director.
Read reports/proposals to Executive Director that require her input, and provide a summary of key issues that require the attention of the Executive Director.
Make travel arrangements for the Executive Director and Board members;
Maintain a diary of national and international events that require the participation of the Executive Director and Board Members.
Assist in the preparation, monitoring and managing costs related to Board budget and the Executive Director’s office.
Make travel arrangements for the strategic partners visiting the organization’s field operations through the Executive Director’s office.
Qualifications, Skills, and Experience

Must hold at least a Bachelor’s degree in any relevant discipline from a recognized university of recognized standing.
A post-graduate qualification in a management-related discipline will be an added advantage.
5 years’ work experience in a supervisory or administrative or Executive Assistant role in a private or public sector organization.
Good organizational, attention to detail, and coordination skills, ability to work calmly under the stress of conflicting deadlines and assignments.
Ability to work under tight deadlines with minimal supervision.
Effective oral & written communication and presentation skills.
Computer Skills (Excel, PowerPoint and Word Processing).
Desirable interpersonal and communication skills.
Analytical – ability to comprehend management and Board papers and other correspondences.
Organizational skills– prioritizing, time management and ability to plan each day to meet deadlines.
Strong knowledge of the Labour laws of Uganda.
High levels of integrity, professionalism and discretion.
High levels of self-initiative and problem-solving skills.
Courtesy, tact and diplomacy.






Cleaned:

duties and responsibilities

keep custody of all board and senior management papers documents and minutes
maintain a diary of meetings for board committees and senior management
take minutes of board meetings
prepare attendance registers of board meetings and allowance requisition and reimbursement for payments to board
prepare schedules of information that the board has requested from management
prepare schedules and information management needs to submit to board for consideration
manage all correspondence and records to and from the executive director
review documentation to executive director and route these to their respective department heads for action
prepare schedules of action points that require the attention of the executive director
read reportsproposals to executive director that require her input and provide a summary of key issues that require the attention of the executive director
make travel arrangements for the executive director and board members
maintain a diary of national and international events that require the participation of the executive director and board members
assist in the preparation monitoring and managing costs related to board budget and the executive directors office
make travel arrangements for the strategic partners visiting the organizations field operations through the executive directors office
qualifications skills and experience

must hold at least a bachelors degree in any relevant discipline from a recognized university of recognized standing
a postgraduate qualification in a managementrelated discipline will be an added advantage
5 years work experience in a supervisory or administrative or executive assistant role in a private or public sector organization
good organizational attention to detail and coordination skills ability to work calmly under the stress of conflicting deadlines and assignments
ability to work under tight deadlines with minimal supervision
effective oral  written communication and presentation skills
computer skills excel powerpoint and word processing
desirable interpersonal and communication skills
analytical  ability to comprehend management and board papers and other correspondences
organizational skills prioritizing time management and ability to plan each day to meet deadlines
strong knowledge of the labour laws of uganda
high levels of integrity professionalism and discretion
high levels of selfinitiative and problemsolving skills
courtesy tact and diplomacy

In [36]:
import torch
from transformers import DistilBertTokenizer, DistilBertModel

# Assuming df_new['cleaned_infos'][4] contains a list of resumes
resumes = df_new['cleaned_infos'][4]


# Initialize the DistilBERT tokenizer and model
tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')
model = DistilBertModel.from_pretrained('distilbert-base-uncased')

# Tokenize and embed job descriptions
job_description_embeddings = []
for description in job_descriptions:
    tokens = tokenizer(description, padding=True, truncation=True, return_tensors='pt')
    with torch.no_grad():
        output = model(**tokens)
    embeddings = output.last_hidden_state.mean(dim=1).numpy()
    job_description_embeddings.append(embeddings[0])  # Flatten the embeddings to 1D

# Tokenize and embed resumes
resume_embeddings = []
for resume in resumes:
    tokens = tokenizer(resume, padding=True, truncation=True, return_tensors='pt')
    with torch.no_grad():
        output = model(**tokens)
    embeddings = output.last_hidden_state.mean(dim=1).numpy()
    resume_embeddings.append(embeddings[0])  # Flatten the embeddings to 1D

In [37]:
# Calculate cosine similarity between job descriptions and resumes
similarity_scores = cosine_similarity(job_description_embeddings, resume_embeddings)
similarity_scores

array([[0.20007129, 0.1734515 , 0.16356161, 0.20669504, 0.1734515 ,
        0.21654776, 0.20669504, 0.03928   , 0.20091403, 0.20007129,
        0.20003414, 0.21636185, 0.21654776, 0.20007129, 0.03928   ,
        0.18520577, 0.21654776, 0.1734515 , 0.20007129, 0.1734515 ,
        0.21636185, 0.17834981, 0.03928   , 0.22625181, 0.20007129,
        0.21636185, 0.16167146, 0.17834981, 0.1746553 , 0.20669504,
        0.20003414, 0.20816234, 0.1860146 , 0.03928   , 0.22625181,
        0.17993899, 0.1860146 , 0.21654776, 0.1734515 , 0.17834981,
        0.1860146 , 0.1860146 , 0.03928   , 0.20007129, 0.19204684,
        0.18351068, 0.21654776, 0.1734515 , 0.21654776, 0.1860146 ,
        0.16356161, 0.20003414, 0.20007129, 0.16356161, 0.21654776,
        0.20669504, 0.1734515 , 0.03928   , 0.15124997, 0.18932268,
        0.03928   , 0.20183137, 0.17834981, 0.20007129, 0.20003414,
        0.1860146 ]], dtype=float32)

In [38]:
# Rank candidates for each job description based on similarity scores
num_top_candidates = 5
top_candidates = []

for i, job_description in enumerate(cleaned_descriptions):
    candidates_with_scores = list(enumerate(similarity_scores[i]))
    candidates_with_scores.sort(key=lambda x: x[1], reverse=True)
    top_candidates_for_job = candidates_with_scores[:num_top_candidates]
    top_candidates.append(top_candidates_for_job)

# Print the top candidates for each job description
for i, job_description in enumerate(cleaned_descriptions):
    print(f"Top candidates for JD {i+1}")
    for candidate_index, score in top_candidates[i]:
        print(f"  Candidate {candidate_index + 1} - Similarity Score: {score:.4f}")
        # Print additional information if needed
        # print(f"  Resume: {resumes[candidate_index]}")
    print()

Top candidates for JD 1
  Candidate 24 - Similarity Score: 0.2263
  Candidate 35 - Similarity Score: 0.2263
  Candidate 6 - Similarity Score: 0.2165
  Candidate 13 - Similarity Score: 0.2165
  Candidate 17 - Similarity Score: 0.2165